<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <directoryBrowse showFlags="Date, Time, Size, Extension, LongDate" />


<httpErrors errorMode="Detailed" />
        <handlers>
            <remove name="html" />
            <add name="html" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\operation\django01\venv\Scripts\python.exe|D:\operation\django01\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
<appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="%ROOTDIR%" />
        <add key="DJANGO_SETTINGS_MODULE" value="django01.settings" />
    </appSettings>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
