<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>

           #a1 {
               height:250px;
           }
            #name{
                height:250px;
                width:1500px;
            }
            #namet{
                height:250px;
                width:1500px;
            }
        </style>
</head>
<body>
<form action="{% url 'myweb:look' %}"  method="post">
{% csrf_token %}
    <div id="a1">
        <input type="text" name="name" id="name">
    </div>
    <div id="a2"> <input type="text" name="namet" id="namet">
    </div>
    <input type="submit" value="添加">
</form>
</body>
</html>